<ion-view view-title="{{channel.name}}">
  <ion-content class="padding">

		<div class="card">
			<div class="item item-text-wrap">
				{{ channel.schedule }}
			</div>
		</div>

		<button class="button button-block button-positive {{ isActive(1) }}" ng-click="nextState()">
			Começar
		</button>

		<ion-list class="{{ isActive(2) }}">
			<ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="(option, qtd) in channel.options" type="item-text-wrap">
				{{ option }} : {{ qtd }}
			</ion-item>
    </ion-list>
		
		<button class="button button-block button-positive {{ isActive(2) }}" ng-click="nextState()">
			Finalizar
		</button>

  </ion-content>
</ion-view>
