<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
		<div class="card">
			<div class="item item-divider">
			</div>
			<div class="item item-text-wrap">
				This is a basic Card with some text.
			</div>
			<div class="item item-divider">
				I'm a Footer in a Card!
			</div>
		</div>
  </ion-content>
</ion-view>
