<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Coletivo APP</h2>
    <div class="card">
    <div class="item item-text-wrap">
        Aplicativo desenvolvido durante a disciplina de Sistema Distribuidos 
        (2016.1) dirigida pelo professor Jairson.
    </div>
    <div class="item item-divider">
        Gustavo Marques
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Check mail
        </a>
    </div>
    <div class="item item-divider">
        Leonardo Cavalcante
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Check mail
        </a>
    </div>
    <div class="item item-divider">
        José Malan
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Check mail
        </a>
    </div>
  </ion-content>
</ion-view>
