<ion-view view-title="Coletivo">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-text-wrap">
        Aplicativo desenvolvido durante a disciplina de Sistema Distribuidos 
        (2016.1) dirigida pelo professor Jairson.
    </div>
    <div class="item item-divider">
        Gustavo Marques
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#/tab/dash/gustavo>" >
            <i class="icon ion-email"></i>
            Contato
        </a>
    </div>
    <div class="item item-divider">
        Leonardo Cavalcante
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#/tab/dash/leonardo>">
            <i class="icon ion-email"></i>
            Contato
        </a>
    </div>
    <div class="item item-divider">
        José Malan
    </div>
    <div class="list">
        <a class="item item-icon-left" href="#/tab/dash/malan>">
            <i class="icon ion-email"></i>
            Contato
        </a>
    </div>
  </ion-content>
</ion-view>
