<ion-view view-title="Coletivo">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-text-wrap">
        Aplicativo desenvolvido durante a disciplina de Sistema Distribuidos 
        (2016.1) ministrada pelo professor Jairson Rodrigues.
    </div>
    <div class="item item-divider">
        Gustavo Marques
    </div>
    <div class="list">
        <a class="item item-icon-left">
            <i class="icon ion-email"></i>
							gutodisse@gmail.com
        </a>
    </div>
    <div class="item item-divider">
        Leonardo Cavalcante
    </div>
    <div class="list">
        <a class="item item-icon-left">
            <i class="icon ion-email"></i>
							leolleo.comp@gmail.com
        </a>
    </div>
    <div class="item item-divider">
        José Malan
    </div>
    <div class="list">
        <a class="item item-icon-left">
            <i class="icon ion-email"></i>
							josemalancomp@gmail.com
        </a>
    </div>
  </ion-content>
</ion-view>
